# Mekong API
MEKONG_USERNAME=Tvunet
MEKONG_PASSWORD=123456
MEKONG_CUSTOMER_CODE=MK38582
MEKONG_PROVINCE_CODE=86
MEKONG_DEVICE_UUID=2FB96A47-B821-4260-809F-FA2A58CDEEE2

# Ecowitt API
ECOWITT_ACCOUNT=lethuy2026n@gmail.com
ECOWITT_PASSWORD=200417a@
ECOWITT_DEVICE_ID=281727
