fastapi==0.115.5
uvicorn[standard]==0.32.1
httpx==0.28.1
pydantic==2.10.3
PyYAML==6.0.2
langchain==0.3.12
langchain-groq==0.2.3
langchain-core==0.3.26
tenacity==9.0.0
geopy==2.4.1
shapely==2.0.6
rasterio==1.4.3
pyproj==3.7.0
python-dotenv==1.0.1
boto3==1.35.4
geopandas==1.0.1
fiona==1.10.1
pymysql==1.2.0
